/* ---- GENERALES ---- */

html{
    background-color: rgb(38, 17, 65);
    padding-right: 20px;
    
}  

  body {
    width: 300px;
    margin: 0 auto;
    background-color: #122488;
    padding: 30px 30px 300px 20px;
    border: 5px solid #122488;
    border-style:ridge;
  }
  
h2 {
    color: rgb(104, 81, 235);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
    font:  25px sans-serif;color: rgb(104, 81, 235)
    

}
  /* ---- FORMULARIO ---- */


 
  
  .form-titulo {
    color: rgb(104, 81, 235);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center; 
font:  16px sans-serif;color: rgb(104, 81, 235)
  }
  
  
  
  .form-input label {
    display: contents;
    margin-bottom: 15px;
    font-size: 15px;
    font:  16px sans-serif;color: rgb(104, 81, 235)
   
  }

  .form-div {
    display: contents;
    margin-bottom: 15px;
    font-size: 15px;
    font:  16px sans-serif;color: rgb(104, 81, 235)

  }
  
  .form-input input{
    width: 70%;
    height: 40px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  

  
  .form-boton input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 120px;
    padding-left: 100px;
    border-color: #2d1457;
    font         : bold 16px sans-serif;
    color: rgb(241, 241, 248);
    text-align-last: justify;

        background-color: rgb(104, 81, 235);
        display: flex;
        justify-content: center;
        align-items: center;
  }
  
 
  .mensajeError {
    color: red;
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .mensajeCorrecto {
    text-align: center;
    font-weight: bold;
  }
  

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}